
/*[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;
}

textarea, input {
    outline: none;
    border: none;
}

textarea:focus, input:focus, select:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

/*---------------------------------------------*/
.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}

.wrap-login100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
}

.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 15px 74px 15px;
}

.login100-form-title-1 {
    font-size: 23px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: center;
    position: absolute;
    top:-6px;
    left: 33%;
    transform: perspective(400px) rotateX(-60deg);
}

.login100-form {
    margin: 7%;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #b2b2b2;
}

.label-input100 {
    font-family: Poppins-Regular, serif;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    top: 14px;
    left: -105px;
    width: 80px;
}
