{% load static %}

{% for el in list_info %}
                {#             <li>#}
                {#             <a href="#">#}
                {#                <p>{{ el.id_group }}</p>#}
                {#                <p>{{ el.name }}</p>#}
                {#             </a>#}
                {#            </li>#}
                {#                <li>#}
                {#                    <div>#}
                {#                        <figure class="group-list">#}
                {#                            <p><img style="width: 7em; height: 7em;" src="{% static 'main/images/bg.jpg' %}"#}
                {#                                    alt="Сен-Тропе">#}
                {#                            <figcaption style="text-align: center">{{ el.name }}#}
                {#                            </figcaption>#}
                {#                        </figure>#}
                {#                    </div>#}
                {#                </li>#}

                {#            <div class="group" style="font-size: 1.2em;">#}
                {#                <img style="border-radius: 50px;" src="{% static 'main/images/pr.png' %}">#}
                {#                <h2> <span>{{ el.name }}</span></h2>#}
                {##}
                {#            </div>#}

                {#                <div style="position: relative; width: 200px; height: 100px">#}
                {#                    <input type="checkbox" id="{{ el.id_group }}" name="check_group[]"/>#}
                {#                    <div style="position: absolute; top: 0; left: 0; width: 200px">#}
                {#                        <img src="{% static 'main/images/pr.png' %}" alt="..."/>#}
                {#                    </div>#}
                {#                    <div style="position: absolute; top: 40%; left: 6%; width: 200px; font-size: 1.5em; font-weight: bolder">#}
                {#                        {{ el.name }}#}
                {#                    </div>#}
                {#                </div>#}
                {#                <input type="checkbox" id="1"/>#}


                <div style="position: relative;height: 100px; float: left;">
                    <button name="{{ el.id_group }}" class="btn_check_group">
                        <div style="position: absolute; top: 0; left: 0; width: 100px;">
                            <img src="{% static 'main/images/pr.png' %}" alt="..."/>
                        </div>
                        <div id="{{ el.id_group }}"
                             style="position: absolute; top: 40%; left: 1%; width: 100px; font-size: 1.5em; font-weight: bolder">
                            {{ el.name }}
                        </div>
                    </button>


                </div>


            {% endfor %}

