{% extends 'main/loyaut.html' %}
{% load static %}

{% block title %} Отправка сообщения {% endblock %}

{% block content %}

    <form method="post" name="contact_form" class="form_contact"
          id="contact" action="." style="position: relative; display: flex; justify-content: center; margin: 2% 0;">
        <div id="message_main">
            <img src="{% static 'main/images/step.jpg' %}" width="75%" alt="">

            <div>
                <span style="display: flex;">
                {{ form.theme.label_tag }}

                    <button type="button" class="open_modal" style="width: 45%; margin-left: auto;">
                        <img style="width: 9%; margin-bottom: 2px;"
                             src="{% static 'main/images/left_up_arrow.png' %}" alt="">
                        Выбрать из сохраненных
                        <img style="width: 9%;"
                             src="{% static 'main/images/right_down_arrow.png' %}">
                           </button>
                </span>

                {{ form.theme }}
            </div>
            <div>
                {{ form.text.label_tag }}
                {{ form.text }}
            </div>
            <div>
                {{ form.image_file }}
                <div id="error_file_div"></div>
                <span id="error_file">Выберите файл нужного формата (*.jpeg; *.jpg; *.png;)</span>
            </div>
            <br>
            <div id="save_submit">
                Сохранить<label style="margin-right: 10%;" class="checkbox_save">&nbsp;<input
                    class="form-check-input me-1" type="checkbox"
                    id="save-mess-checkbox"><span></span></label>

                <button class="submit" type="submit" id="send_message">Отправить</button>
            </div>


        </div>

        <div id="group_main">
            <div id="group_main2">
                <div style="display: flex;">
                    <select id="select_group">
                        {% for type in type_group %}
                            {% if selected_type == type.id %}
                                <option value="{{ type.id }}" selected>{{ type.name }}</option>

                            {% else %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div style="display: flex; margin-top: 4%;">
                        Выбрать все<label class="checkbox_save">&nbsp;<input class="form-check-input me-1"
                                                                             type="checkbox"
                                                                             id="choose-all-checkbox"><span></span></label>
                    </div>
                </div>

                <div id="update_group_div">
                    {% include 'main/groups.html' %}
                </div>
            </div>
            <button class="submit" id="update_groups">
                Обновить группы
            </button>
        </div>
    </form>
<div class="wait_icon" style=" position: absolute; top:10%; left: 50%;">
        <img style="width: 80px;" src="{% static 'main/images/wait.gif' %}" alt=""></div>

    <!-- Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="font-size: 12px;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="display: flex;">
                    <h5 class="modal-title">Сохраненные сообщения</h5>
                    <div style="display: flex; font-size: 16px; margin-right: 5%;">Выбрать все<label
                            class="checkbox_save">&nbsp;
                        <input class="form-check-input me-1" type="checkbox"
                               id="choose-all-checkbox-modal"><span></span></label>
                    </div>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete-mess-modal">
                        <img style="width: 60%;" src="{% static 'main/images/delete_mess.jpg' %}">
                    </button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}



{% block javascript %}

    <script>

        $(document).ready(function () {
            $('#error_file').hide();
            $('.wait_icon').hide();
            const selected_groups = [];

            {# delete all selected message in the modal #}
            $('#delete-mess-modal').click(function (e) {
                e.preventDefault();
                e.stopPropagation();

                if (confirm('Вы точно хотите удалить данные сообщения?')) {

                    const mess_id = [];
                    let id;

                    $('input.choose-one-mess-checkbox:checked').each(function (i) {
                        id = $(this).attr("id").split('_');
                        mess_id[i] = id[1];
                    });

                    $.ajax({
                        datatype: "JSON",
                        url: '{% url 'delete_message' %}',
                        data: {"delete_mess": JSON.stringify(mess_id)},
                        success: function (data) {

                            if (data.result === 'ok') {
                                alert('Сообщения успешно удалены');
                                $('.modal').modal('hide');
                            } else
                                alert('Выберите сообщения');

                        }
                    });

                }
            });

            {# choose all checkboxes in the modal #}
            $('#choose-all-checkbox-modal').change(function () {

                var isChecked = $(this).prop('checked');

                $('input.choose-one-mess-checkbox').prop('checked', isChecked);

            });

            {# filling the modal window with data from the database #}
            $('.open_modal').click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '{% url 'get_saved_messages' %}',
                    success: function (data) {

                        if (data.result === 'ok') {

                            const modal = $('.modal');
                            const modal_body = $('.modal-body');
                            modal_body.html('');

                            const saved_mess = data.saved_messages;

                            saved_mess.forEach(el => {

                                const img_src_arrow_modal = '{% static 'main/images/arrow_modal_down.png'%}';
                                {#const img_src_file_image = (el['image_file'] === '') ? '' : '{% static 'main/images/file_image.png'%}';#}
                                var hint = 'Нажмите для выбора этого сообщения';

                                {#"<img style=' width: 18px;' src='" + img_src_file_image + "'>" +#}

                                const html =
                                    "<div style=' display: flex;'>" +
                                    "<div style='width: 85%; text-align: justify; position: relative; margin-right: 3%;'>" +
                                    "<button class='theme-modal' style='text-align: justify; margin-bottom: 5px;' id = 'mess_" + el['id'] + "'>" +
                                    "<span class='tooltiptext'>" + hint + "</span>" +
                                    "<h6>" + el['theme'] + "</h6>" +
                                    "</button>" +

                                    "<div class='modal-text' id = 'text_" + el['id'] + "'>" + el['text'] + "</div>" +
                                    "<a style='width: 100%;' class='open-modal-text' href='#' id = 'link_" + el['id'] + "'>" +
                                    "<img src='" + img_src_arrow_modal + "' style='width: 10px; margin: auto 50% ; opacity: 0.5;'  alt='...'> " +
                                    "</a>" +
                                    "</div>" +
                                    "<div style='display: flex; width: 7%; align-items: baseline;'>" +

                                    "<label class='checkbox_save' style='margin-left: auto;'><input class='form-check-input me-1 choose-one-mess-checkbox' type='checkbox'" +
                                    " id = 'check_" + el['id'] + "'><span></span>" +
                                    "</label>" +
                                    "</div>" +
                                    "</div>" +
                                    "<hr style='margin: 7px 0 7px 0; padding: 0;'/>";

                                modal_body.append(html);

                            });

                            modal.modal('show');
                        } else {
                            alert('Произошла ошибка. Повторите вашу попытку')
                        }

                    }
                });

            });

            {# show all text one message in the modal#}
            $('.modal-body').on('click', 'a', function (e) {

                e.preventDefault();
                e.stopPropagation();
                {#$(this).toggleClass('active');#}
                const id_a = $(this).attr("id").split('_');
                const img = $(this).find('img');
                let id = id_a[1];
                if (id !== '') {
                    let text = $('#text_' + id);
                    if (text !== '') {
                        if (text.hasClass('opener')) {
                            img.prop('src', '{% static 'main/images/arrow_modal_down.png'%}');
                            $(text).removeClass('opener');
                        } else {
                            img.prop('src', '{% static 'main/images/arrow_modal_up.png'%}');
                            $(text).addClass('opener');
                        }
                    }
                }
            });

            {# return selected theme, text and image to form #}
            $('.modal-body').on('click', 'button', function (e) {
                e.preventDefault();
                const button = $(this);
                let id = button.attr('id').split('_');

                const theme = button.find('h6').text();
                id = id[1];
                if (id !== '') {
                    let text = $('#text_' + id);
                    if (text !== '') {
                        $('#id_theme').val(theme);
                        $('#id_text').text(text.text());
                    }
                }


                $('.modal').modal('hide');

            });

            {# change type groups (MKA, PKO, EKO) #}
            $('#select_group').change(function (e) {
                e.preventDefault();

                $('#choose-all-checkbox').prop('checked', false);
                $.ajax({
                    type: "GET",
                    datatype: "JSON",
                    {#url: $(this).attr('action'),#}
                    url: '{% url 'change_group_type' %}',
                    data: {"type_of_group_ind": $(this).val()},
                    success: function () {
                        {#alert("ajax answer");#}
                        $('#update_group_div').html('').load(
                            "{% url 'show_groups' %}");
                    }
                });

            });

            {# error output when the wrong file type is selected #}
            $('#id_image_file').change(function (e) {
                e.preventDefault();

                const format = $(this)[0].files[0].name.split('.').pop();
                const regex = new RegExp("(jpeg|jpg|png)");
                if (!(regex.test(format))) {
                    $('#error_file').show();
                    $('#send_message').attr('disabled', 'disabled');
                } else {
                    $('#error_file').hide();
                    $('#send_message').attr('disabled', false);
                }
            })

            {# submit form message #}
            $("#contact").submit(function (e) {

                e.preventDefault();
                e.stopPropagation();

                $(this).css('opacity', '0.5');
                $('.wait_icon').show();

                let isSave = false;
                if ($('#save-mess-checkbox').prop("checked"))
                    isSave = true;

                let form = $(this).serializeArray();
                form = JSON.stringify(form);

                const formData = new FormData();
                formData.append('image', $('#id_image_file')[0].files[0]);
                formData.append('form', form);
                formData.append('selected_groups', JSON.stringify(selected_groups));
                formData.append('is_save', isSave);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');

                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: formData,
                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (data) {
                        $('#contact').css('opacity', '1');
                        $('.wait_icon').hide();

                        if (data.result === 'ok') {
                            alert('Рассылка успешно завершена');
                            location.reload();
                        } else {
                            alert(data.result);
                        }
                    }
                });
            });

            {# update groups handler button click #}
            $("#update_groups").click(function (e) {
                e.preventDefault();
                $('#choose-all-checkbox').prop('checked', false);
                $('#contact').css('opacity', '0.5');
                $('.wait_icon').show();
                $.ajax({
                    type: 'POST',
                    {#url: 'https://api.telegram.org/bot1488506326:AAFBL957KpiPMCoDzyuo-u6aDlDeX6JyDMY/getUpdates',#}
                    url: 'https://api.telegram.org/bot1857755452:AAGBunnkgFs_QzPIVJr9-v7MCwfUMeHXfUo/getUpdates',
                    success: function (data) {
                        $.ajax({
                            type: 'POST',
                            url: '{% url 'show_groups' %}',
                            datatype: "JSON",
                            data: {'data': JSON.stringify(data), csrfmiddlewaretoken: '{{ csrf_token }}'},
                            success: function (data) {

                            $('#contact').css('opacity', '1');
                            $('.wait_icon').hide();

                                $('#update_group_div').html('').load(
                                    "{% url 'show_groups' %}");
                            }
                        });
                    }
                });
            })

            {#choose one group#}
            $('#update_group_div').on('click', 'button', function (e) {
                e.preventDefault();

                const button = $(this);
                const img = $(this).find('img');

                if (button.css("transform") === 'none') {
                    button.css("transform", 'scale(1.1)');
                    img.show();
                    selected_groups.push(this.id);
                } else {
                    button.css("transform", 'none');
                    img.hide();
                    const index = selected_groups.indexOf(this.id);
                    if (index > -1) {
                        selected_groups.splice(index, 1);
                    }
                }
            });

            {# checkbox in group for choose all groups of the same type#}
            $('#choose-all-checkbox').change(function () {

                const isChecked = $(this).prop('checked');

                $('#div_groups').children().each(function (i, e) {
                    const button = $(this);
                    const img = $(this).find('img');

                    if (isChecked) {
                        button.css("transform", 'scale(1.1)');
                        img.show();
                        selected_groups.push(this.id);
                    } else {
                        button.css("transform", 'none');
                        img.hide();
                        const index = selected_groups.indexOf(this.id);
                        if (index > -1) {
                            selected_groups.splice(index, 1);
                        }
                    }
                });
            });
        });

    </script>

{% endblock %}

