{% extends 'main/loyaut.html' %}
{% load static %}


{% block title %}
    Mailing
{% endblock %}

{#{% block header %}#}
{#    <nav class="cd-stretchy-nav">#}
{#        <a class="cd-nav-trigger" href=""> Menu#}
{#            <span aria-hidden="true"></span>#}
{#        </a>#}
{##}
{#        <ul>#}
{#            <li><a href="{% url 'send_message' %}" class="active"><span>Создать рассылку</span></a></li>#}
{#            <li><a href=""><span>Настройки групп</span></a></li>#}
{#        </ul>#}
{##}
{#        <span aria-hidden="true" class="stretchy-nav-bg"></span>#}
{#    </nav>#}
{##}
{##}
{##}
{##}
{#{% endblock %}#}

{% block content %}

    <form method="post" class="contact_form" name="contact_form"
          id="contact" action="." style=" display: flex;
    flex-direction: row; flex-wrap: nowrap; margin: 5%;">
        {#        {% csrf_token %}#}
        {#        {{ form.non_field_errors }}#}
        <div style="width: 60%;">
            {#        <label>Тема:#}
            {#            {{ form.theme }}#}
            {#        </label><br>#}
            {#        <label>Текст сообщения:#}
            {#            {{ form.text }} <br>#}
            {#            {{ all_id }}#}
            {#        </label><br>#}
            {#        <button name="save" type="submit" class="btn btn-success">Сохранить и отправить</button>#}
            {#        <button type="submit" class="btn btn-success">Отправить</button>#}
            {#    </form>#}


            {#    <form class="contact_form" method="post" name="contact_form">#}
            {#        {% csrf_token %}#}
            <ul>
                {#                        <li>#}
                {#                            <h2>Contact Us</h2>#}
                {#                            <span class="required_notification">* Denotes Required Field</span>#}
                {#                        </li>#}
                <li>
                    {#                    <label for="name">Тема:</label>#}
                    {#                    <input type="text" placeholder="John Doe" required/>#}
                    {{ form.theme.label_tag }}
                    {{ form.theme }}
                    {#                    {{ form.theme.errors }}#}
                </li>
                {#                    <li>#}
                {#                        <label for="email">Email:</label>#}
                {#                        <input type="email" name="email" placeholder="john_doe@example.com" required />#}
                {#                        <span class="form_hint">Proper format "name@something.com"</span>#}
                {#                    </li>#}
                {#                    <li>#}
                {#                        <label for="website">Website:</label>#}
                {#                        <input type="url" name="website" placeholder="http://johndoe.com" required pattern="(http|https)://.+"/>#}
                {#                        <span class="form_hint">Proper format "http://someaddress.com"</span>#}
                {#                    </li>#}
                <li>
                    {#                    <label for="message">Сообщение:</label>#}
                    {{ form.text.label_tag }}
                    {#                    <textarea name="message" cols="60" rows="6" required></textarea>#}
                    {{ form.text }}
                    {#                    {{ form.text.errors }}#}
                </li>
                <li>
                    {#                        <input type="file" style="height: 30px; width: 350px;" name="image_file" id="image_file">#}
                    {{ form.image_file.label_tag }}
                    {{ form.image_file }}

                    <button class="submit" type="submit">Submit Form</button>
                    {#                                        <input type="submit" class="submit" value="OK">#}
                </li>
            </ul>
            {#    </form>#}


        </div>

        <div style=" width: 40%;" class="btn-group" id="group_main">

            {% include 'main/groups.html' %}

        </div>

        <button class="btn btn-success" id="update_groups"> Обновить группы</button>

    </form>
    {#        </ol>#}

    {#    import collections#}
    {#Foo = collections.namedtuple('Foo', ['id', 'created_date', 'number_of_clicks'])#}
    {##}
    {#def test(request):#}
    {#    # check if form data is posted#}
    {#    if request.method == 'POST':#}
    {#        # simply return a string that shows the IDs of selected items#}
    {#        return http.HttpResponse('<br />'.join(request.POST.getlist('choices')))#}
    {##}
    {#    else:#}
    {#        items = [Foo(1,1,1),#}
    {#                 Foo(2,2,2),#}
    {#                 Foo(3,3,3)]#}
    {##}
    {#        t = loader.get_template('test.html')#}
    {#        c = RequestContext(request, {#}
    {#            'list': items,#}
    {#            'host': 'me.com',#}
    {#            })#}
    {##}
    {#    return http.HttpResponse(t.render(c))#}

{% endblock %}


{% block javascript %}

    <script>

        $(document).ready(function () {
            var selected_groups = [];

            {#$(document).ready(function () {#}

            {#$.ajaxSetup({#}
            {#    data: {csrfmiddlewaretoken: '{{ csrf_token }}'},#}

            var formData = new FormData();
            $("#contact").submit(function (e) {
                e.preventDefault();
                e.stopPropagation();

                {#var file = ("#id_image_file").files[0];#}
                {# formdata.append("image", file);#}
                {# console.log(("#id_image_file").file);#}

                var form = $(this).serializeArray();
                form = JSON.stringify(form);

                formData.append('image', $('#id_image_file')[0].files[0])
                formData.append('form', form)
                formData.append('selected_groups', JSON.stringify(selected_groups))
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

                $.ajax({
                    type: $(this).attr('method'),
                    {#url: 'http://127.0.0.1:8000/main/',#}
                    {#url: '{% url 'send_message' %}',#}
                    url: $(this).attr('action'),
                    {#data_type:'JSON',#}
                    data:formData,
                    {#data: {#}
                        {#'data_form': formdata,#}
                        {#'selected_groups': JSON.stringify(selected_groups),#}
                        {#csrfmiddlewaretoken: '{{ csrf_token }}'#}

                    processData: false,
                    contentType: false,
                    enctype: 'multipart/form-data',
                    success: function (data) {
                        if (data.result === 'ok') {
                            alert('Рассылка успешно завершена');
                            location.reload();
                        } else
                            alert('Произошла ошибка. Рассылка не была совершена. Повторите попытку')
                    }
                });
            });

            $("#update_groups").click(function (e) {
                e.preventDefault();
                {#e.stopPropagation();#}
                $.ajax({
                    type: 'POST',
                    url: 'https://api.telegram.org/bot1488506326:AAFBL957KpiPMCoDzyuo-u6aDlDeX6JyDMY/getUpdates',
                    {#dataType: "JSON",#}
                    success: function (data) {
                        {#отправляем данные формы вместе с обновлением страницы (данные введенные не потеряются)#}
                        {#const form = $('#contact').serializeArray();#}

                        {#$('#group_main').html('').load(#}
                        {#            "{% url 'show_groups' %}");#}

                        $.ajax({
                            type: 'POST',
                            {#url: 'http://127.0.0.1:8000/main/',#}
                            url: '{% url 'show_groups' %}',
                            {#dataType: 'text',#}
                            {#cache: false,#}
                            datatype: "JSON",
                            {#data:data,#}
                            data: {'data': JSON.stringify(data), csrfmiddlewaretoken: '{{ csrf_token }}'},
                            {#csrfmiddlewaretoken: '{{ csrf_token }}',#}
                            success: function (data) {

                                {#history.pushState(null, null, '{% url 'send_message' %}');#}
                                {#$('#group_main').reload();#}
                                $('#group_main').html('').load(
                                    "{% url 'show_groups' %}");
                                {#alert('ssss');#}
                                {#window.location = window.location.href;#}
                                {#window.location.assign(document.URL);#}
                                {#alert(data['list_info'][0]['id_group'])#}
                                {#var group_div = document.getElementById('group_main')#}
                                {#group_div.innerHTML = ''#}
                                {#data['list_info'].forEach(#}
                                {#el=> document.getElementById(el['id_group']).innerHTML = el['name']#}
                                {#el=> alert(el['id_group'])#}
                                {#el => function (el) {#}
                                {#    alert(el)#}
                                {#group_div.append(#}
                                {#    '<div style="position: relative;height: 100px; float: left;">' +#}
                                {#    '<button name="' + el['id_group'] + '" class="btn_check_group">' +#}
                                {#    '<div style="position: absolute; top: 0; left: 0; width: 100px;">' +#}
                                {#    '<img src="/static/main/images/pr.png" alt="..."/>' +#}
                                {#    '</div>' +#}
                                {#    '<div id="' + el['id_group'] + '"' +#}
                                {#    'style="position: absolute; top: 40%; left: 1%; width: 100px; font-size: 1.5em; font-weight: bolder">' +#}
                                {#    'el["name"]' +#}
                                {#    '</div>' +#}
                                {#    '</button>' +#}
                                {#    '</div>')#}
                                {#document.getElementById(el['id_group']).innerHTML = el['name']#}

                            }

                        });
                    }
                });
            })


            {#for (var i = 0; i < btn.length; i++) {#}
            {#    btn[i].onclick = function () {#}
            {#alert(this.id)#}
            {##}
            {#        var img = $(this).find('img');#}
            {##}
            {#        if (img.attr('src') === '/static/main/images/pr.png') {#}
            {#            img.attr('src', '/static/main/images/G41.png');#}
            {#            selected_groups.push(this.id);#}
            {#        } else {#}
            {#            img.attr('src', '/static/main/images/pr.png');#}
            {#            const index = selected_groups.indexOf(this.id);#}
            {#            if (index > -1) {#}
            {#                selected_groups.splice(index, 1);#}
            {#            }#}
            {##}
            {#        }#}
            {##}
            {#var img = this.getElementsByTagName('img');#}
            {##}
            {#if(img.attr('src')=="{% static 'main/images/pr.png' %}")#}
            {#    alert(img);#}
            {##}
            {#if (!(selected_groups.indexOf(this.id) !== -1))#}
            {#    selected_groups.push(this.id);#}
            {#alert(selected_groups);#}
            {#    };#}


            $('#group_main').on('click', 'button', function (event) {
                event.preventDefault();
                const img = $(this).find('img');


                if (img.attr('src') === '/static/main/images/pr.png') {
                    img.attr('src', '/static/main/images/G41.png');
                    selected_groups.push(this.id);
                } else {
                    img.attr('src', '/static/main/images/pr.png');
                    const index = selected_groups.indexOf(this.id);
                    if (index > -1) {
                        selected_groups.splice(index, 1);
                    }
                }
                {#alert(selected_groups);#}
            });
        });

    </script>

{% endblock %}
